<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="background-color:#fff090;">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@ViewData["Title"]</a>
                <span><img style="width: 2em;" src="~/images/se.svg" alt="[<]" onclick="doExit()"></span>
                <span><a class="nav-link" asp-area="" asp-page="/Index"><b>Home</b></a></span>
            </div>
        </nav>

    </header>
    <div class="container" style="background-color:@ViewData["bkColor"];">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function doExit() {
            goBackAfterSave = true;
            saveTask();
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>

