<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="background-color:#fff090;">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@ViewData["Title"]</a>
                <span><button style="font-weight:bold; color:darkgreen; background-color:lemonchiffon; border-color:crimson" onclick="doGCal()">Current Status</button></span>
                <span><a class="nav-link" asp-area="" asp-page="/Index"><b>Home</b></a></span>
            </div>
        </nav>
    </header>

    <div class="container" style="background-color:#FFFFFF;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="background-color:#fff090;">
            &copy; 2020-2025 CStat. All rights reserved.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function doGCal() {
            window.location.href = "https://docs.google.com/spreadsheets/d/1-PhGgahf9BG-I53tIYd2l-MECsQMHHx8FRdwXNem6ZE/edit?gid=0#gid=0";
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
