<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
</head>
<body style="background-color:#000000; color: #FFFFFF">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black box-shadow mb-3">
            <div class="container" style="background-color:#000000; color: #FFFFFF">
                <span style="color:dodgerblue;"><b>Equipment : </b></span>
                <span><button id="SecCam1" onclick="onCamera(1,9)">Cam 1</button></span>
                <span><button id="SecCam2" onclick="onCamera(2,14)">Cam 2</button></span>

                <span><img style="width: 1.2em;height: 1.2em;" src="~/images/Settings_16x.svg" alt="[=]" onclick="doSettings()"></span>
                <span><a class="nav-link" style="background-color:#000000; color:darkorange" asp-area="" asp-page="/Index"><b>Home</b></a></span>
            </div>
        </nav>
    </header>
    <div class="container" style="background-color:#000000;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function doSettings() {
            location.assign("/Settings");
        }
    </script>

    <script>
        function onCamera(cam, op) {
            location.assign("/Camera?cam=" + cam + "&op=" + op);
        }
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>

