<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
</head>
<body style="background-color:#000000; color: #FFFFFF">
    <header>
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black box-shadow mb-3">
            <div class="container" style="background-color:#000000; color: #FFFFFF">-->
                @*<span style="color:dodgerblue;"><b>View: </b></span>
                <span><button onclick="onCamera(1)">Wall Flag</button><button onclick="onCamera(2)">Kagaroo</button><button onclick="onCamera(3)">Exit Door</button><button style="margin-left:10px" onclick="onCamera(100)">-o-</button></span>*@
                <!--<span><a class="nav-link" style="background-color:#000000; color:darkorange" asp-area="" asp-page="/Index"><b>Home</b></a></span>
            </div>
        </nav>-->
    </header>
    <div style="background-color:#000000;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function doSettings() {
            location.assign("/Settings");
        }
    </script>

    <script>
        function onCamera(preset) {
            location.assign("/Camera?preset=" + preset);
        }
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>

