@page
@model CStat.CreateModel
@using CStat.Models
@{
    ViewData["Title"] = "Add New Person";
}

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>

    <style>
        [id^='BtnId'] {
            margin: 2px 1px 2px 1px;
            padding-left: 3px;
            padding-right: 3px;
            min-width: 90px;
        }

        .BtnOff {
            background-color: lightgray;
            color: darkslategray;
            font-weight: normal;
        }

        .BtnOn {
            background-color: greenyellow;
            color: black;
            font-weight: bold;
        }

        .rp {
            padding-right: 6px;
        }

        .lpad {
            margin-left: 4px;
        }

        .smi {
            max-width: 6em;
            display:inline-block;
            margin-right:10px;
            margin-bottom:10px;
        }

        .si {
            max-width: 4em;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .mi {
            max-width: 8em;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .mli {
            max-width: 10em;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .li {
            max-width: 12em;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .xli {
            max-width: 16em;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .xxli {
            min-width: 82%;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {

            document.getElementById('SubmitId2').addEventListener('click', (e) => {

                var errMsg = document.getElementById("errMsg");
                if (($("#zPerson_Gender").val() == "0") || ($("#zPerson_FirstName").val().trim() === "") || ($("#zPerson_LastName").val().trim() === "")) {
                    e.preventDefault();
                    errMsg.style.display = 'block';
                }
                else {
                    errMsg.style.display = 'none';
                }
                return;
            });

            $("button[id^='BtnId']").click(function () {
                var skill = $(this).attr("value");
                var skills = $("#zPerson_SkillSets").attr("value");
                if ($(this).hasClass("BtnOn")) {
                    $(this).removeClass("BtnOn").addClass("BtnOff");
                    skills &= ~skill;
                } else {
                    $(this).removeClass("BtnOff").addClass("BtnOn");
                    skills |= skill;
                }
                $("#zPerson_SkillSets").attr("value", skills);
            });

            $("[id^=zAddress_]").change(function () {

                if ($("#HandleAdrId").css("display") === "none") {
                    $("#HandleAdrId").css("display", "block");
                }
                //alert("Address has been changed.");
            });

            $("#SubmitId").click(function (event) {

                if (($("#HandleAdrId").css("display") != "none") && !$('#KeepOld').is(':checked') && !$('#ChangeOld').is(':checked')) {
                    $("#AdrIdWarn").css("display", "block");
                    event.preventDefault();
                }
            });

            $("#AddChurch").click(function (event) {

                let ch = $('#zChurch');
                let ab = $('#AddChurch');
                if (ab.text() === '+') {
                    ab.text('-');
                    ch.attr('hidden', false);
                    $('#zPerson_ChurchId').attr('hidden', true);
                } else {
                    $('#zPerson_ChurchId').attr('hidden', false);
                    ab.text('+');
                    ch.attr('hidden', true);
                    ch.prop('value', '');
                }
                event.preventDefault();
            });

            $("#zTitleRoles").change(function () {

                var roles = $("#zTitleRoles").val();
                if (roles.some(r => (r === "2048") || (r === "16384") || (r === "8192") || (r === "4096") || (r === "32768"))) {
                    $("#ECExpDiv").css('display', 'inline-block');
                }
                else {
                    $("#ECExpDiv").css('display', 'none');
                }
            });

        });

    </script>
</head>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input style="display:none;" asp-for="_Person.SkillSets" class="form-control" data-val="false" />

    <div class="row">
        <div class="form-group col-xs-6 lpad">
            <label asp-for="_Person.FirstName" class="control-label">First Name:</label>
            <input asp-for="_Person.FirstName" class="form-control mi" />
            <span asp-validation-for="_Person.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-6 lpad">
            <label asp-for="_Person.LastName" class="control-label ">Last Name:</label>
            <input asp-for="_Person.LastName" class="form-control li" />
            <span asp-validation-for="_Person.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 lpad">
            <label asp-for="_Person.Alias">Nick Name:</label>
            <input asp-for="_Person.Alias" class="mi" />
            <span asp-validation-for="_Person.Alias" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-6 lpad">
            <label asp-for="_Person.Dob">D.O.B:</label>
            <input type="date" asp-for="_Person.Dob" class="li" />
            <span asp-validation-for="_Person.Dob" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-3 lpad" style="min-width:20%">
            <label asp-for="_Person.Gender" class="control-label">Gender:</label>
            <select asp-for="_Person.Gender" class="form-control si" asp-items="ViewBag.Gender"></select>
            <span asp-validation-for="_Person.Gender" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-4 lpad" style="min-width:30%">
            <label asp-for="_Baptized" class="control-label">Baptized:</label>
            <select asp-for="_Baptized" class="form-control si" asp-items="ViewBag.Baptized"></select>
            <span asp-validation-for="_Baptized" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-5 lpad">
            <label asp-for="_SSNum" class="control-label">SS#:</label>
            <input asp-for="_SSNum" class="form-control mli" />
            <span asp-validation-for="_SSNum" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 lpad" style="min-width:40%">
            <label asp-for="_Street" class="control-label">Street:</label>
            <input asp-for="_Street" class="form-control li" />
            <span asp-validation-for="_Street" class="text-danger"></span>
        </div>

        <div class="form-group col-xs-6 lpad">
            <label asp-for="_Town" class="control-label">Town:</label>
            <input asp-for="_Town" class="form-control mi" />
            <span asp-validation-for="_Town" class="text-danger"></span>

        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 lpad" style="min-width:40%">
            <label asp-for="_State" class="control-label">State:</label>
            <select asp-for="_State" class="mi" style="margin-top:0.2em; min-height:2em">
                @Html.Raw(Address.GetStateOptions())
            </select>
        </div>
        <div class="form-group col-xs-6 lpad">
            <label asp-for="_ZipCode" class="control-label">Zip:</label>
            <input asp-for="_ZipCode" class="form-control mi" />
            <span asp-validation-for="_ZipCode" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 lpad" style="min-width:40%">
            <label asp-for="_Person.CellPhone" class="control-label">Cell:</label>
            <input asp-for="_Person.CellPhone" class="form-control mli" />
            <span asp-validation-for="_Person.CellPhone" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-6 lpad" style="min-width:40%">
            <label asp-for="_Person.Address.Phone" class="control-label">Home Phone:</label>
            <input asp-for="_Person.Address.Phone" class="form-control mli" />
            <span asp-validation-for="_Person.Address.Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4 lpad" style="min-width:40%">
            <label asp-for="_Person.Email" class="control-label">EMail:</label>
            <input asp-for="_Person.Email" class="form-control xli" />
            <span asp-validation-for="_Person.Email" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-8 lpad">
            <label asp-for="_Person.ChurchId" class="control-label">Church<button id="AddChurch">+</button>:</label>
            <select asp-for="_Person.ChurchId" class="form-control xli" asp-items="ViewBag.ChurchId"></select>
            <input asp-for="_Church" class="form-control li" hidden />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12 lpad" style="display:inline-block; margin-right:10px; margin-bottom:10px;">
            <label asp-for="_TitleRoles" +":">Current Title(s):</label>
            <select asp-for="_TitleRoles" asp-items="ViewBag.TitleRoles" style="max-width:12em; vertical-align: middle;" data-val="false" multiple></select>
        </div>
    </div>
    <div class="row">
        <div id="ECExpDiv" class="lpad" style="display:none; margin-right:10px; margin-bottom:10px;">
            <label asp-for="_ECExpire">Year Term Expires Nov.:</label>
            <input asp-for="_ECExpire" style="max-width:4em" data-val="false" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 lpad" style="margin-bottom:0px">
            <h5>Skill Set:</h5>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="form-group col-xs-12 lpad" style="display:inline-block; border:3px solid blue; margin-bottom:6px">
                @Html.Raw(Model.GenSkillButtons((int)Model._Person.SkillSets))
            </div>
        </div>
    </div>
    <div style="margin-right: -15px; margin-left: -15px;">
        <div class="form-group lpad">
            <label asp-for="_Person.Notes" class="control-label"></label>
            <input asp-for="_Person.Notes" class="form-control xxli" style="min-width:100%" />
            <span asp-validation-for="_Person.Notes" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4 lpad">
            <label asp-for="_PG1" class="control-label">Parent/Guard 1:</label>
        </div>
        <div class="form-group col-xs-8 lpad">
            <input asp-for="_PG1" class="form-control xli" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4 lpad">
            <label asp-for="_PG2" class="control-label">Parent/Guard 2:</label>
        </div>
        <div class="form-group col-xs-8 lpad">
            <input asp-for="_PG2" class="form-control xli" />
        </div>
    </div>
    <div id="errMsg" style="display:none; color:red"> Add Incomplete : Set First, Last and Gender then click [Add]</div>
    <div class="form-group">
        <input type="submit" id="SubmitId2" value="Add Person" class="btn btn-primary" />
    </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
