@page
@model CStat.FindModel
@using CStat.Models
@{
    ViewData["Title"] = "Find People : Enter Hints";
}
    <head>

        <style>

            [id^='BtnId'] {
                margin: 2px 1px 2px 1px;
                padding-left:3px;
                padding-right:3px;
                min-width: 90px;
            }

            .BtnOff {
                background-color: lightgray;
                color: darkslategray;
                font-weight: normal;
            }

            .BtnOn {
                background-color: greenyellow;
                color: black;
                font-weight: bold;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>

        var CCAServer = "localhost";
//      var CCAServer = "192.168.1.126";

            $(document).ready(function () {

                $("#zPerson_ChurchId").prepend(new Option("Select Church", "-1")).prop('selectedIndex', 0);

                $("button[id^='BtnId']").click(function () {
                    var skill = $(this).attr("value");
                    var skills = $("#Person_SkillSets").attr("value");
                    if ($(this).hasClass("BtnOn")) {
                        $(this).removeClass("BtnOn").addClass("BtnOff");
                        skills &= ~skill;
                    } else {
                        $(this).removeClass("BtnOff").addClass("BtnOn");
                        skills |= skill;
                    }
                    $("#Person_SkillSets").attr("value", skills);
                });
            });

            function findPeople() {
                var resDiv = $("#ResultsDiv");
                resDiv.css("background-color", "#FFFF80");
                resDiv.html("Executing ...");

                var raw = "{";
                raw += "FName=" + $("#zPerson_FirstName").val().trim();
                raw += "&LName=" + $("#zPerson_LastName").val().trim();
                raw += "&Gender=" + $("#zPerson_Gender").val().trim();
                raw += "&Church=" + $("#zPerson_ChurchId").val().trim();
                $("button[id^='BtnId']").each(function () {
                    if ($(this).css("background-color") == "rgb(173, 255, 47)")
                        raw += "&multicheckbox[]=" + $(this).attr("abbr");
                });
                raw += "}";
                var props = encodeURI(raw);

                //FName=David&LName=Romero&Church=&DOB=5-23-2000&Street=3059%20Milburn%20Ave.&City=Baldwin&State=NY&Zip=11510&HPhone=&Cell=516-582-1651&SSNum=&EMail=laromero111%40gmail.com&multicheckbox%5B%5D=COK&multicheckbox%5B%5D=PNT&multicheckbox%5B%5D=KTH&PG1=Sandra%20Romero%20347-328-3608&PG2=Luis%20Romero&Comments=&Gender=M%20%7C%20F
                //var uri = "my test.asp?name=ståle&car=saab";
                //var res = encodeURI(uri);
                //document.getElementById("demo").innerHTML = res;

                //id = "Person_FirstName"
                //id="Person_LastName"
                //id = "Person_Gender"
                //    <option value="70">F</option>
                //    <option value="77">M</option>
                //id="Person_ChurchId"
                //id="BtnId1" class="BtnOff" value="1">Carpentry</button>

                props = props.replace(/\*/g, "@@");

                resDiv.html("Executing : Waiting on DB");

                $.ajax({
                    url: "/People/Find?handler=FindPeople",
                    contentType: "application/json",
                    dataType: "json",
                    data: props,
                    success: function (response) {
                        if (response.indexOf("ERROR~:") === -1) {
                            var obj = $.parseJSON(response);

                            var strList = "<table class=\"plclass\"><tr style=\"color:#FF8000\"><th>Fn</th><th>Last</th><th>Addr</th><th>City</th><th>St.</th></tr>";
                            var NumFound = 0;
                            $.each(obj, function (i, item) {
                                if (i % 2)
                                    strList += "<tr onclick=\"OnLineClick(this)\" style=\"background-color:#FFFF80; color:#000000\" id=\"" + item.id + "\"><td>" + item.FirstName + "</td><td>" + item.LastName + "</td><td>" + item.Address.Street + "</td><td>" + item.Address.Town + "</td><td>" + item.Address.State + "</td></tr>";
                                else
                                    strList += "<tr onclick=\"OnLineClick(this)\" style=\"background-color:#FFFFFF; color:#000000\" id=\"" + item.id + "\"><td>" + item.FirstName + "</td><td>" + item.LastName + "</td><td>" + item.Address.Street + "</td><td>" + item.Address.Town + "</td><td>" + item.Address.State + "</td></tr>";
                                ++NumFound;
                            });

                            $("#ResultsDiv").html(strList);
                        }
                    },
                    fail: function (response) {
                    }
                });
            }

        </script>

    </head>
<body>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input style="display:none;" asp-for="_Person.SkillSets" class="form-control" value="0" data-val="false" />

            <div style=" display: inline-block; margin-right: 10px; margin-bottom: 10px;">
                <label asp-for="_Person.FirstName">First:</label>
                <input asp-for="_Person.FirstName" data-val="false" style="max-width:6em" value="" />
            </div>
            <div style="display:inline-block; margin-right:10px; margin-bottom:10px">
                <label asp-for="_Person.LastName">Last:</label>
                <input asp-for="_Person.LastName" data-val="false" style="max-width:8em" value="" />
            </div>
            <div style="display: inline-block; margin-right: 10px; margin-bottom: 10px;">
                <label asp-for="_Person.Gender">Gender</label>
                <select asp-for="_Person.Gender" asp-items="ViewBag.Gender"  data-val="false"></select>
            </div>
            <div style="display:inline-block; margin-right:10px; margin-bottom:10px;">
                <label asp-for="_Person.ChurchId" +":">Church:</label>
                <select asp-for="_Person.ChurchId" asp-items="ViewBag.ChurchId" style="max-width:10em"  data-val="false"></select>
            </div>
            <div style="display:inline-block; margin-right:10px; margin-bottom:10px;">
                <label asp-for="_Person.AgeRange" +":">Age(s):</label>
                <input asp-for="_Person.AgeRange" style="max-width:9em" data-val="false" />
            </div>
            <div class="form-group">
                <input type="button" onclick="findPeople()" value="Find People" class="btn btn-primary" />
            </div>
            <div style="display:inline-block; border:3px solid blue; margin-bottom:6px">
                @Html.Raw(Model.GenSkillButtons())
            </div>
        </form>
    </div>
    <div id="ResultsDiv"></div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
