@page
@model CStat.FindModel
@using CStat.Models
@{
    ViewData["Title"] = "Find People :";
    Layout = "_LayoutPeople";
}
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>
    
    <style>
        [id^='BtnId'] {
            margin: 2px 1px 2px 1px;
            padding-left: 3px;
            padding-right: 3px;
            min-width: 90px;
        }

        .BtnOff {
            background-color: lightgray;
            color: darkslategray;
            font-weight: normal;
        }

        .BtnOn {
            background-color: greenyellow;
            color: black;
            font-weight: bold;
        }

        .rp {
            padding-right: 6px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>

        window.addEventListener("popstate", function () {
            location.replace("Info");
        });

        $(document).ready(function () {

            $("#zPerson_FirstName").val("");
            $("#zPerson_LastName").val("");
            $("#zPerson_Gender").prop('selectedIndex', 0);
            $("#zPerson_ChurchId").prop('selectedIndex', 0);

            $("#zPerson_ChurchId").prepend(new Option(" Any ", "-1")).prop('selectedIndex', 0);

            $("button[id^='BtnId']").click(function () {
                var skill = $(this).attr("value");
                var skills = $("#zPerson_SkillSets").attr("value");
                if ($(this).hasClass("BtnOn")) {
                    $(this).removeClass("BtnOn").addClass("BtnOff");
                    skills &= ~skill;
                } else {
                    $(this).removeClass("BtnOff").addClass("BtnOn");
                    skills |= skill;
                }
                $("#zPerson_SkillSets").attr("value", skills);
            });
        });

        function findPeople() {
            var resDiv = $("#ResultsDiv");
            resDiv.css("background-color", "#FFFF80");
            resDiv.html("Executing ...");

            var raw = "{";
            raw += "FName=" + $("#zPerson_FirstName").val().trim();
            raw += "&LName=" + $("#zPerson_LastName").val().trim();
            raw += "&Gender=" + $("#zPerson_Gender").val().trim();
            raw += "&AgeRange=" + $("#zPerson_AgeRange").val().trim();
            raw += "&Church=" + $("#zPerson_ChurchId").val().trim();

            //                raw += "&DOB=" + $("#zPerson_DOB").val().trim();
            //                raw += "&Street=" + $("#zAddress_Street").val().trim();
            //                raw += "&City=" + $("#zAddress_City").val().trim();
            //                raw += "&State=" + $("#zAddress_State").val().trim();
            //                raw += "&Zip=" + $("#zAddress_Zip").val().trim();
            //                raw += "&HPhone=" + $("#zAddress_HPhone").val().trim();
            //                raw += "&Cell=" + $("#zPerson_Cell").val().trim();
            //                raw += "&EMail=" + $("#zPerson_EMail").val().trim();
            //                raw += "&Comments=" + $("#zPerson_Comment").val().trim();
            ////                raw += "&SSNum=" + $("#zSSNum").val().trim();
            ////                raw += "&PG1=" + $("#zPersion_PG1").val().trim();
            ////                raw += "&PG2=" + $("#zPerson_PG2").val().trim();

            raw += "&SkillSets=" + $("#zPerson_SkillSets").val().trim();

            let roles = 0;
            $('#zPerson_Roles option:selected').each(function () {
                roles |= $(this).val();
            });
            raw += "&Roles=" + roles;

            //// ALTERNATE
            //$("button[id^='BtnId']").each(function () {
            //    if ($(this).css("background-color") == "rgb(173, 255, 47)")
            //        raw += "&multicheckbox[]=" + $(this).attr("abbr");
            //});

            raw += "}";
            var props = encodeURI(raw);

            props = props.replace(/\*/g, "@@");

            if (props === "%7BFName=&LName=&Gender=0&Church=-1&Church=-1&SkillSets=0%7D") {
                resDiv.html("No filter. Select one or more skills and/or a Church and/or a gender and/or a full/part First Name and/or a full/part Last Name.");
                return;
            }

            resDiv.html("Executing : Waiting on DB");

            $.ajax({
                url: "/People/Find?handler=FindPeople",
                contentType: "application/json",
                dataType: "json",
                data: props,
                success: function (response) {
                    if (response.indexOf("ERROR~:") === -1) {
                        var obj = $.parseJSON(response);

                        var strList = "<table class=\"plclass\"><tr style=\"color:#008080\"><th class=\"rp\">Name</th><th class=\"rp\">Addr</th><th class=\"rp\">Phone</th><th>EMail</th></tr>";
                        var NumFound = 0;
                        $.each(obj, function (i, item) {
                            let state = (item.Address.State.length > 2) ? item.Address.State.replace("New York", "NY").replace("Connecticut", "CT") : item.Address.State;
                            let phone = !!item.CellPhone ? item.CellPhone : item.Address.Phone;
                            if (phone.length > 4) {
                                phone = "<a href=\"tel:" + phone + "\">" + phone + "</a>";
                            }
                            let eMail = item.EMail;
                            if (eMail.length > 4) {
                                eMail = "<a href=\"mailto:" + eMail + "\">" + eMail + "</a>";
                            }

                            let tColor;
                            if ((item.Address.Status & 268435456) !== 0) {
                                tColor = "#FF0000";
                            } else {
                                tColor = "#000000";
                            }

                            if (i % 2)
                                strList += "<tr style=\"background-color:#FFF4CF; color:" + tColor + "\" id=\"" + item.id + "\"><td onclick=\"window.location.href='Edit?id=" + item.id + "'\" class=\"rp\">" + item.FirstName + " " + item.LastName + "</td><td class=\"rp\" onclick=\"window.location.href='Edit?id=" + item.id + "'\">" + item.Address.Street + " " + item.Address.Town + " " + state + "</td><td class=\"rp\">" + phone + "</td><td>" + eMail + "</td></tr>";
                            else
                                strList += "<tr style=\"background-color:#FFFFFF; color:" + tColor + "\" id=\"" + item.id + "\"><td onclick=\"window.location.href='Edit?id=" + item.id + "'\" class=\"rp\">" + item.FirstName + " " + item.LastName + "</td><td class=\"rp\" onclick=\"window.location.href='Edit?id=" + item.id + "'\">" + item.Address.Street + " " + item.Address.Town + " " + state + "</td><td class=\"rp\">" + phone + "</td><td>" + eMail + "</td></tr>";
                            ++NumFound;
                        });
                        strList += "<tr style=\"background-color:#FFFFFF;\"><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td></tr>"; // extra blank To do : fix obscuring footer.
                        $("#ResultsDiv").html(strList);
                        $('html,body').animate({ scrollTop: $("#ResultsDiv").offset().top }, 'slow');
                    } else {
                        resDiv.html("No People Found");
                    }
                },
                fail: function (response) {
                    resDiv.html("Find Failed.");
                }
            });
        }

    </script>

</head>
    <body>
        <form method="post">
            <input style="display:none;" asp-for="_Person.SkillSets" class="form-control" value="0" data-val="false" />
            <div class="row">
                <div class="col-xs-6" style="margin-right: 10px; margin-bottom: 10px; min-width:40%">
                    <label style="margin-left: 6px; min-width:3.2em" asp-for="_Person.FirstName">First:</label>
                    <input asp-for="_Person.FirstName" data-val="false" style="max-width:6em" value="" />
                </div>
                <div class="col-xs-6" style="margin-right:10px; margin-bottom:10px">
                    <label style="min-width:3.2em" asp-for="_Person.LastName">Last:</label>
                    <input asp-for="_Person.LastName" data-val="false" style="max-width:8em" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" style="margin-right: 10px; margin-bottom: 10px; min-width:40%">
                    <label style="margin-left: 6px; min-width:3.2em" asp-for="_Person.Gender">Gender</label>
                    <select asp-for="_Person.Gender" asp-items="ViewBag.Gender" data-val="false"></select>
                </div>
                <div class="col-xs-6" style="margin-right:10px; margin-bottom:10px;">
                    <label style="min-width:3.2em" asp-for="_Person.ChurchId" +":">Church:</label>
                    <select asp-for="_Person.ChurchId" asp-items="ViewBag.ChurchId" style="max-width:10em" data-val="false"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" style="margin-right:10px; margin-bottom:10px; min-width:40%">
                    <label style="margin-left: 6px; min-width:3.2em" asp-for="_Person.AgeRange" +":">Age(s):</label>
                    <input asp-for="_Person.AgeRange" style="max-width:6em" data-val="false" disabled />
                </div>
                <div class="col-xs-6" style="margin-right:10px; margin-bottom:10px;">
                    <label style="min-width:3.2em" asp-for="_Person.Roles" +":">Role(s):</label>
                    <select asp-for="_Person.Roles" asp-items="ViewBag.TitleRoles" style="max-width:12em; max-height:4.5em; vertical-align: middle;" data-val="false" multiple></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="border:3px solid blue; margin-bottom:6px">
                    @Html.Raw(Model.GenSkillButtons())
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 form-group">
                    <input type="button" onclick="findPeople()" value="Find People" class="btn btn-primary" />
                </div>
                <div class="col-xs-9" style="margin-left:6px">

                    <div>1)Enter Hints then Click [Find People].</div>
                    <div>2)Below, Click name for detail/updating.</div>
                </div>
            </div>
        </form>

        <div id="ResultsDiv"></div>

    </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
