@page
@model CStat.Pages.Vendors.CreateModel
@using CStat.Models
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Create Business/Dept";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>

<style>

    .ediv {
        border-width: 1px;
        border-style: solid;
        border-color: #C0FFC0;
        background-color: #F2FFF2;
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 0px;
        padding-left: 3px;
        margin-bottom: 8px;
    }

    .slen {
        max-width: 6em;
    }

    .smlen {
        max-width: 9em;
    }

    .mlen {
        max-width: 12em;
    }

    .mllen {
        max-width: 15em;
    }

    .llen {
        max-width: 18em;
    }

    .rgap {
        margin-right: 4px;
    }

    .horzLI {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center
    }

    label {
        margin-bottom: 0px;
    }
</style>

<script>

    $(document).ready(function () {

        if (window.location.href.indexOf("VendorDoc=1") != -1) {
            $("#VendorDoc").val(sessionStorage.getItem("VendorDocFolder") + " > " + sessionStorage.getItem("VendorDocFile"));
            sessionStorage.setItem("VendorDocFolder", "");
            sessionStorage.setItem("VendorDocFile", "");
            sessionStorage.setItem("VendorDocReturn", "");
        }

        function openFileShare() {
            var docVal = $("#EvenDoc").val();
            var dvp = docVal.split(" > ");
            if (!dvp || dvp.length !== 2) {
                return;
            }

            var parameters = "{'Folder':'" + dvp[0].trim() + "','File':'" + dvp[1].trim() + "'}";
            $.ajax({
                url: "/Docs?handler=FileShare",
                contentType: "application/json",
                dataType: "json",
                data: parameters,
                success: function (response) {
                    if (response.indexOf("ERROR~:") === -1) {
                        if (response.indexOf("http") == 0) {
                            window.location.href = response;
                        }
                        else {
                            window.location.href = "../" + response;
                        }
                    }
                },
            });
        }

        $("#VendorDoc").click(function () {
            openFileShare();
        });

        $("#OpenDoc").click(function () {
            openFileShare();
        });
    });

    function getDoc() {
        sessionStorage.setItem("VendorDocReturn", window.location.href + "&VendorDoc=1");
        window.location.href = "/Docs?selectStr=Event";
    }

</script>


<form method="post">

    <div class="ediv">
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="Business.Name" class="control-label">Name:</label>
                <input asp-for="Business.Name" class="form-control" />
                <span asp-validation-for="Business.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Business.AcctId" class="control-label">Acct#:</label>
                <input asp-for="Business.AcctId" class="form-control" />
            </div>
        </div>
    </div>
    <div class="ediv">
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="_Street" class="control-label">Street</label>
                <input asp-for="_Street" class="form-control llen" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="_Town" class="control-label">Town</label>
                <input asp-for="_Town" class="form-control llen" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-5" style="min-width:40%">
                <label asp-for="_State" class="control-label rgap">State:</label>
                <select asp-for="_State" style="min-height:2em">
                    @Html.Raw(Address.GetStateOptions())
                </select>
            </div>
            <div class="form-group col-sm-7 horzLI">
                <label asp-for="_ZipCode" class="control-label rgap">Zip:</label>
                <input asp-for="_ZipCode" class="form-control smlen" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_Phone" class="control-label rgap">Phone:</label>
                <input asp-for="_Phone" class="form-control mlen" />
            </div>
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_Fax" class="control-label rgap">Fax:</label>
                <input asp-for="_Fax" class="form-control mlen" />
            </div>
        </div>
    </div>

    <div class="ediv">
        <div class="row">
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="Business.Type" class="control-label rgap">Type:</label>
                <select asp-for="Business.Type" asp-items="ViewBag.BizTypeList" style="max-width:16em; min-height:2em" data-val="false"></select>
            </div>
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_poc" class="control-label rgap">Contact:</label>
                <input asp-for="_poc" class="form-control llen" />
            </div>
        </div>
    </div>

    <div class="ediv">
        <div class="form-group">
            <label asp-for="Business.UserLink" class="control-label">Login URL:</label>
            <input asp-for="Business.UserLink" class="form-control" />
        </div>
        <div class="row">
            <div class="form-group col-sm-7 horzLI">
                <label asp-for="Business.UserName" class="control-label rgap">Username:</label>
                <input asp-for="Business.UserName" class="form-control mllen" />
            </div>
            <div class="form-group col-sm-5 horzLI">
                <label asp-for="Business.Password" class="control-label rgap">Password:</label>
                <input asp-for="Business.Password" class="form-control mlen" />
            </div>
        </div>
    </div>

    <div class="row ediv">
        <div class="form-group col-sm-4 horzLI">
            <label asp-for="Business.Status" class="control-label rgap">Status:</label>
            <select asp-for="Business.Status" asp-items="ViewBag.BizStatusList" style="max-width:15em; min-height:2em" data-val="false"></select>
        </div>
        <div class="form-group col-sm-8 horzLI">
            <label asp-for="Business.StatusDetails" class="control-label rgap">Status Notes:</label>
            <input asp-for="Business.StatusDetails" class="form-control llen" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Business.Terms" class="control-label">Relation:</label>
        <textarea rows="2" asp-for="Business.Terms" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Business.Fees" class="control-label"></label>
        <input asp-for="Business.Fees" class="form-control" />
    </div>
    <div class="ediv row">
        <span class="lpad" style="color:maroon; font-weight:bold">To add a Contract Link, First Create this Bis./Dept then go back and Edit it.</span>
        <div class="form-group col-sm-12 lpad">
            <label asp-for="Business.ContractLink" class="control-label">Contract Link:</label>
            <input type="text" id="VendorDoc" style="padding-left:3px;padding-right:3px; border-style:inset; font-weight:bold" disabled />
            <button id="OpenDoc" style="margin-left:6px; margin-right:6px;" disabled><b>Open Doc</b></button>
            <button id="BrowseDoc" onclick="getDoc()" style="margin-right:6px;" disabled>Set Doc</button>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
