@page
@model CStat.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    #DateField
    {
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 2px;
    }

    td a:link, a:visited {
        text-decoration: inherit;
        color: inherit;
    }

    .AddDesc {
        text-align: center;
    }


    .EventDesc {
        background-color: lightblue;
        font-weight:bold;
        border: 2px solid blue;
        text-align: center;
    }

    td {
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

    .tdAttrs{
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

    .rowAttrs{
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

</style>

<body>

    <h1>Events</h1>

    <p>
        <a style="color:blue" asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <tbody>
            @{

                List<DateTime> days = new List<DateTime>();
                for (int i = -2; i < 100; ++i)
                {
                    days.Add(DateTime.Now.AddDays(i));
                }
            }
            @foreach (var item in Model.Calendar)
            {

                @Html.Raw(item)
            }

        </tbody>
    </table>
</body>
