@page
@model CStat.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    #DateField
    {
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 2px;
    }

    td > a:link, a:visited {
        text-decoration: inherit;
        color: inherit;
    }
</style>

<body>

    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <tbody>
            @{

                List<DateTime> days = new List<DateTime>();
                for (int i = -2; i < 100; ++i)
                {
                    days.Add(DateTime.Now.AddDays(i));
                }
            }
            @foreach (var item in Model.Calendar)
            {

                @Html.Raw(item)
            }

        </tbody>
    </table>
</body>
