@page
@model CStat.Pages.CameraModel
@using Common

@{
    ViewData["Title"] = "Camera";
    Layout = "_LayoutCam";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0; text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script type="text/javascript">

        function setCBHeight() {

            const elem = document.documentElement;
            let hdrDiv = document.querySelector(".header");
            let refBtn = document.querySelector(".refBtn");
            let setBtn = document.querySelector(".setBtn");
            let btnSVG = document.querySelector("#btnSVG");

            let totW = Math.min(document.documentElement.clientWidth, window.innerWidth || 0);
            let totH = Math.min(document.documentElement.clientHeight, window.innerHeight || 0);

        }

        screen.orientation.addEventListener("change", function (e) { setCBHeight(); }, false);
        //screen.window.orientation.addEventListener("change", function (e) { setCBHeight(); }, false)
        //$(window).bind("resize", function(){
        //    screenOrientation = ($(window).width() > $(window).height())? 90 : 0;
        //});
        //$(window).bind("resize", setCBHeight());

        $(document).ready(function () {

        });

        function onCamOp(op) {
            location.assign("/Camera?op=" + op);
        }

    </script>

    <style>

        .camSize {
            width: 100%;
            height: auto;
        }

        .tbl {
            color: orange;
            width: 100%;
            font-size: 1.3em;
        }

        .pic {
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
            background-color:blue;
        }

        a:active {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color:inherit;
        }

        .orth {
            color: yellow;
            padding-left: 4px;
            padding-right: 4px;
            width: 2.5em;
            font-weight: bold;
        }

        .diag {
            color: orange;
            padding-left: 4px;
            padding-right: 4px;
            width: 2.5em;
            font-weight: bold;
        }

        .ctr {
            color: lawngreen;
            padding-left: 4px;
            padding-right: 4px;
            font-weight: bold;
            width: 2.5em;
            font-weight: bold;
        }

        .OpPM {
            width: 2.5em;
        }

        .cview {
            color: cyan;
            margin-left: 4px;
            padding-left: 6px;
            padding-right: 6px;
        }

        .topnav {
            color: lawngreen;
            padding-left: 6px;
            padding-right: 6px;
            font-size: 1.3em;
            width: 100%;
        }
    </style>
</head>
<body onload="setCBHeight()" onresize="setCBHeight()" bgcolor="black" margin="0">
    <div>
        <table class="topnav">
            <tr>
                <td class="OpPM"><a href="#" onclick="onCamOp(301)"><b>Z+</b></a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(300)">z-</a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(100)">&#128161;</a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(101)">&#128266;</a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(401)"><b>F+</b></a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(400)">f-</a></td>
            </tr>
        </table>
    </div>
    <div style=" border-top: 2px solid green; ">
        <table class="tbl">
            <tr>
                <td class="cview"><a href="#" onclick="onCamOp(1)">Wall Flag</a></td>
                <td class="cview"><a href="#" onclick="onCamOp(2)">Kangaroo</a></td>
                <td>&nbsp;</td>
                <td class="diag"><a href="#" onclick="onCamOp(200)">&#x21D6;</a></td>
                <td class="orth"><a href="#" onclick="onCamOp(201)">&#x21E7;</a></td>
                <td class="diag"><a href="#" onclick="onCamOp(202)">&#x21D7;</a></td>
            </tr>
            <tr>
                <td class="cview"><a href="#" onclick="onCamOp(3)">Exit Door</a></td>
                <td class="cview"><a href="#" onclick="onCamOp(4)">Full Watch</a></td>
                <td>&nbsp;</td>
                <td class="orth"><a href="#" onclick="onCamOp(203)">&#x21E6;</a></td>
                <td class="ctr"><a href="#" onclick="onCamOp(0)">&#10227;</a></td>
                <td class="orth"><a href="#" onclick="onCamOp(204)">&#x21E8;</a></td>
            </tr>
            <tr>
                <td class="cview">---</td>
                <td class="cview">---</td>
                <td>&nbsp;</td>
                <td class="diag"><a href="#" onclick="onCamOp(205)">&#x21D9;</a></td>
                <td class="orth"><a href="#" onclick="onCamOp(206)">&#x21E9;</a></td>
                <td class="diag"><a href="#" onclick="onCamOp(207)">&#x21D8;</a></td>
            </tr>
        </table>
    </div>
    <div class="pic">
        <img src="@Model.CameraLink" class="camSize" alt="Please Wait 6 secs ...or... Hit Button Again" />
    </div>
</body>

