@page
@model CStat.Pages.CameraModel
@using Common

@{
    ViewData["Title"] = "Camera";
    Layout = "_LayoutCam";
}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0; text/html; charset=utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>

    <style>

        .camSize {
            width: 100%;
            height: auto;
        }

        .tbl {
            color: orange;
            width: 100%;
            font-size: 1.3em;
        }

        .pic {
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
            background-color: blue;
        }

        a:active {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .orth {
            color: yellow;
            padding-left: 4px;
            padding-right: 4px;
            width: 2.5em;
            font-weight: bold;
        }

        .diag {
            color: orange;
            padding-left: 4px;
            padding-right: 4px;
            width: 2.5em;
            font-weight: bold;
        }

        .ctr {
            color: lawngreen;
            padding-left: 4px;
            padding-right: 4px;
            font-weight: bold;
            width: 2.5em;
            font-weight: bold;
        }

        .OpPM {
            width: 2.5em;
        }

        #vtid {
            width: 100%;
            color: darkorange;
        }

        #videoIns {
            width: 100%;
            color: darkorange;
            text-align: center;
            font-weight: bold;
            text-decoration: underline;
        }

        #videoDiv {
            width: 100%;
            color: yellow;
        }

        .OpExit {
            width: 1.5em;
            font-weight: bold;
            color: white;
            text-align: right;
            padding-right: 6px;
        }

        .cview {
            color: cyan;
            margin-left: 4px;
            padding-left: 6px;
            padding-right: 6px;
        }

        .topnav {
            color: lawngreen;
            padding-left: 6px;
            padding-right: 6px;
            font-size: 1.3em;
            width: 100%;
        }
    </style>

    <script type="text/javascript">

        var gCleanupTimer = null;

        var gRepaintTimer = null;
        var gRepaintCnt = 0;

        var isOKToExit = false;

        function setCBHeight() {

            const elem = document.documentElement;
            let hdrDiv = document.querySelector(".header");
            let refBtn = document.querySelector(".refBtn");
            let setBtn = document.querySelector(".setBtn");
            let btnSVG = document.querySelector("#btnSVG");

            let totW = Math.min(document.documentElement.clientWidth, window.innerWidth || 0);
            let totH = Math.min(document.documentElement.clientHeight, window.innerHeight || 0);

            setRepaint();
        }

        screen.orientation.addEventListener("change", function (e) { setCBHeight(); }, false);
        //screen.window.orientation.addEventListener("change", function (e) { setCBHeight(); }, false)
        //$(window).bind("resize", function(){
        //    screenOrientation = ($(window).width() > $(window).height())? 90 : 0;
        //});
        //$(window).bind("resize", setCBHeight());

        function onExit() {
            isOKToExit = true;
            camCleanup();
            clearRepaint();
            clearCleanup();
            location.assign("/Equip");
        }

        function camCleanup() {
            resetCleanup();
            var parameters = "{'except':'" + ($("#CamImg").attr("src") ?? "") + "'}";
            $.ajax({
                url: "/Camera?handler=CamCleanup",
                contentType: "application/json",
                async: false, // Synchronous because it is called within onunload
                dataType: "json",
                data: parameters,
                success: function (response) {
                },
                fail: function (response) {
                }
            });
        }

        function getVideo(url, title) {
            $("#videoDiv").text("Preparing " + title + " . . . Please wait a minute.");
            var parameters = "{'url':'" + url + "'}";
            $.ajax({
                url: "/Camera?handler=Video",
                contentType: "application/json",
                async: true,
                dataType: "json",
                data: parameters,
                timeout: 90000,
                success: function (response) {
                    if (response.indexOf("OK~:") === 0) {
                        let vFile = response.substr(4);
                        //    $("#videoDiv").html("<video controls id=\"videoId\">\n<source src=\"" + vfile + "\" type=\"video/mp4\">\nYour browser does not support the video tag.\n</video>");
                        $("#videoDiv").text("");
                        $("#videoDiv").html("<a href=\"" + vFile + "\" download>Download " + title + "</a>");
                    }
                    else {
                        $("#videoDiv").html("");
                        $("#videoDiv").text("Failed to get " + title + ". " + response);
                    }
                },
                fail: function (response) {
                    $("#videoDiv").html("");
                    $("#videoDiv").text("Failed to get " + title + ". " + response);
                }
            });
        }

        function resetCleanup() {
            if (gCleanupTimer !== null) {
                clearTimeout(gCleanupTimer);
                gCleanupTimer = null;
            }
            gCleanupTimer = setTimeout(camCleanup, 60000); // Clean camera and restore to full view 60 secs after every operation for stability & security reasons
        }

        function setRepaint() {
            gRepaintCnt = 1;
            if (gRepaintTimer !== null) {
                clearTimeout(gRepaintTimer);
            }
            gRepaintTimer = setTimeout(repaintImage, 1000);
        }

        function updateRepaint() {
            if (gRepaintCnt === 0)
                return;

            if (++gRepaintCnt > 8) {
                gRepaintCnt = 0;
                if (gRepaintTimer !== null) {
                    clearTimeout(gRepaintTimer);
                    gRepaintTimer = null;
                }
            }
            else {
                gRepaintTimer = setTimeout(repaintImage, 1000);
            }
        }

        function clearRepaint() {
            gRepaintCnt = 0;
            if (gRepaintTimer !== null) {
                clearTimeout(gRepaintTimer);
                gRepaintTimer = null;
            }
        }

        function repaintEnabled() {
            return gRepaintCnt != 0;
        }

        function clearCleanup() {
            if (gCleanupTimer !== null) {
                clearTimeout(gCleanupTimer);
                gCleanupTimer = null;
            }
        }

        function setSnapShot() {
            var parameters = "{'op':'" + 0 + "'}";
            $.ajax({
                url: "/Camera?handler=SnapShot",
                contentType: "application/json",
                async: true,
                dataType: "json",
                data: parameters,
                success: function (response) {
                    let endIdx = response.indexOf("&");
                    if (endIdx == -1) {
                        alert("Problem with snapshot endIdx=-1");
                    } else {
                        $("#CamImg").attr("src", response.substr(endIdx + 1));
                    }
                },
                fail: function (response) {

                },
                complete: function (response) {
                    resetCleanup();
                }
            });
        }

        function repaintImage() {

            if (!repaintEnabled())
                return;

            var parameters = "{'op':'" + 0 + "'}";
            $.ajax({
                url: "/Camera?handler=SnapShot",
                contentType: "application/json",
                async: true,
                dataType: "json",
                data: parameters,
                success: function (response) {
                    if (response.indexOf("OK~:") === 0) {
                        let endIdx = response.indexOf("&");
                        if (endIdx != -1) {
                            // "OK~:todo=2&link
                            let todo = parseInt(response.substr(9, endIdx));
                            if (repaintEnabled()) {
                                if (todo > 0) {
                                    setRepaint();
                                }
                                $("#CamImg").attr("src", response.substr(endIdx + 1));
                            }
                        } else {
                            alert("Problem with snapshot endIdx=-1");
                        }
                    }
                },
                fail: function (response) {

                },
                complete: function (response) {
                    updateRepaint();
                    resetCleanup();
                }
            });
        }

        function onCamOp(op) {
            clearCleanup();
            clearRepaint();
            var parameters = "{'op':'" + op + "'}";
            $.ajax({
                url: "/Camera?handler=CamOp",
                contentType: "application/json",
                async: true,
                dataType: "json",
                data: parameters,
                success: function (response) {
                    if (response.indexOf("OK~:delay=") === 0) {

                        let endIdx = response.indexOf(";link=");
                        if (endIdx == -1) {
                            return;
                        }

                        if (op === 102) {

                            let url = response.substr(endIdx + 6);
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = today.getFullYear();                      
                            let fname = "CCA1_" + yyyy + mm + dd + ".jpg";

                            var a = $("<a style='display:none' id='js-downloader'>")
                                .attr("href", url)
                                .attr("download", fname)
                                .appendTo("body");
                            a[0].click();
                            a.remove()
                        }
                        else {
                            let delay = parseInt(response.substr(10, endIdx - 10));
                            $("#CamImg").attr("src", response.substr(endIdx + 6));
                            setRepaint();
                        }
                    }
                },
                fail: function (response) {
                },
                complete: function (response) {
                    resetCleanup();
                }

            });
        }

        window.addEventListener('beforeunload', function (e) {
            if (!isOKToExit) {
                // Cancel the event
                e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
                // Chrome requires returnValue to be set
                e.returnValue = '';
            }
            else {
                // the absence of a returnValue property on the event will guarantee the browser unload happens
                delete e['returnValue'];
            }
        });


        $(document).ready(function () {

        });

    </script>
</head>
<body onload="setCBHeight()" onresize="setCBHeight()" bgcolor="black" margin="0">
    <div>
        <table class="topnav">
            <tr>
                <td class="OpPM"><a href="#" onclick="onCamOp(301)"><b>Z+</b></a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(300)">z-</a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(100)">&#128161;</a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(102)">&#128248;</a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(101)">&#128266;</a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(401)"><b>F+</b></a></td>
                <td class="OpPM"><a href="#" onclick="onCamOp(400)">f-</a></td>
                <td class="OpExit"><a href="#" onclick="onExit()">X</a></td>
            </tr>
        </table>
    </div>
    <div style=" border-top: 2px solid green; ">
        <table class="tbl">
            <tr>
                <td class="cview"><a href="#" onclick="onCamOp(11)">Camper</a></td>
                <td class="cview"><a href="#" onclick="onCamOp(12)">Work Zone</a></td>
                <td>&nbsp;</td>
                <td class="diag"><a href="#" onclick="onCamOp(200)">&#x21D6;</a></td>
                <td class="orth"><a href="#" onclick="onCamOp(201)">&#x21E7;</a></td>
                <td class="diag"><a href="#" onclick="onCamOp(202)">&#x21D7;</a></td>
            </tr>
            <tr>
                <td class="cview"><a href="#" onclick="onCamOp(13)">Chapel</a></td>
                <td class="cview"><a href="#" onclick="onCamOp(14)">Front View</a></td>
                <td>&nbsp;</td>
                <td class="orth"><a href="#" onclick="onCamOp(203)">&#x21E6;</a></td>
                <td class="ctr"><a href="#" onclick="onCamOp(0)">&#10227;</a></td>
                <td class="orth"><a href="#" onclick="onCamOp(204)">&#x21E8;</a></td>
            </tr>
            <tr>
                <td class="cview"><a href="#" onclick="onCamOp(15)">Deck/Doors</a></td>
                <td class="cview"><a href="#" onclick="onCamOp(16)">End Door</a></td>
                <td>&nbsp;</td>
                <td class="diag"><a href="#" onclick="onCamOp(205)">&#x21D9;</a></td>
                <td class="orth"><a href="#" onclick="onCamOp(206)">&#x21E9;</a></td>
                <td class="diag"><a href="#" onclick="onCamOp(207)">&#x21D8;</a></td>
            </tr>
        </table>
    </div>
    <div class="pic">
        <img src="@Model.CameraLink" id="CamImg" class="camSize" alt="Hit Refresh. Note : Always Hit X to Exit" />
        <div id="videoDiv"></div>
        <div id="videoIns">Click to download a Photo or Video below :</div>
        <div>@Html.Raw(@Model._VideoLinks)</div>
    </div>
</body>

