@page
@model CStat.Pages.CUserModel

<header>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <style>

        /*            div::after {
                content: "";
                background: url("/images/CCABkg.jpg");
                opacity: 0.5;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }*/

        .mainDiv {
            min-width: 100%;
            min-height: 100vh;
            background-image: url("/images/CCABkg.jpg");
            background-size: contain;
            margin: 0;
        }

            .mainDiv button {
                margin-left: 10px;
                margin-bottom: 20px;
                background-color: lightgoldenrodyellow;
                font-weight: bold;
                border-color: greenyellow;
            }

        #ExecCmd {
            margin-left: 10px;
            margin-bottom: 4px;
            padding-bottom: 0px;
            color: black;
            background-color: white;
            width: 80%;
        }

        #ExecBtn {
            margin-left: 4px;
            margin-bottom: 4px;
            padding-bottom: 0px;
            color: black;
            background-color: white;
        }

        #ExecRes {
            padding-top: 0px;
            margin-top: 0px;
            margin-left: 10px;
            margin-bottom: 20px;
            min-height: 16em;
            color: black;
            background-color: white;
            width: 80%;
        }

        table {
            border: none;
            min-height: 25vh;
        }
    </style>

    <script>

        function sendInput2() {

            var input2 = $("#ExecCmd").val();
            if (input2 === "<enter a command here>") {
                return;
            }
            var parameters = "{'input2':'" + input2 + "'}";
            $.ajax({
                url: "/CUser?handler=Input2",
                contentType: "application/text",
                dataType: "text",
                data: input2,
                success: function (response) {
                    $("#ExecRes").val(response);
                },
            });
        }

        $(document).ready(function () {
            $("#ExecCmd").focus(function () { $(this).select(); });

            // Execute a function when the user releases a key on the keyboard
            document.getElementById("ExecCmd").addEventListener("keyup", function (event) {
                if (event.keyCode === 13) { // Number 13 is the "Enter" key on the keyboard
                    event.preventDefault(); // Cancel the default action, if needed
                    sendInput2();
                    //document.getElementById("ExecBtn").click(); // Trigger the button element with a click
                }
            });

        });

    </script>


</header>

    @{
        var index = User.Identity.Name.IndexOf("@");
        var pageTitle = ((index != -1) ? User.Identity.Name.Substring(0, index) : User.Identity.Name) + "'s Page";
        ViewData["Title"] = pageTitle;
    }

<div class="mainDiv">
    <h1>@pageTitle</h1>
    <table><tr><td> </td></tr></table>
    <scan>
        <input type="text" id="ExecCmd" value="<enter a command here>" /><button id="ExecBtn" onclick="sendInput2()"><b>&#x25B6;</b></button>
    </scan>
    <div>
        <textarea class="form-control" id="ExecRes" disabled></textarea>
    </div>
</div>