@page
@model DocsModel
@{
    ViewData["Title"] = "Docs";
}

<head>

    @using System.Web;


</head>

@{
    var DocTitle = "Docs" + Model.FolderName.Replace('/', '>');
}
<h2>@DocTitle</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                "Name"
            </th>
            <th>
                "Description"
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dbox.FolderList.Entries.Where(i => i.IsFolder))
        {
            <tr>
                <td>

                    <b><a href="Docs?id=@Uri.EscapeDataString(Model.FolderName + "/" + item.Name)">@Html.DisplayFor(modelItem => item.Name)</a></b>
                </td>
                <td></td>
            </tr>
        }
        @foreach (var item in Model.dbox.FolderList.Entries.Where(i => i.IsFile))
        {
            <tr>
                <td>
                    <a href="@Model.GetSharedFileUrl(item.Name)">@Html.DisplayFor(modelItem => item.Name, item.AsFile.Size)</a>
                </td>

                <td></td>
            </tr>
        }
    </tbody>
</table>

