@page
@model CStat.Pages.MeetMinsModel
@{
    ViewData["Title"] = "CCA Meeting Minutes";
}

<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, minimal-ui">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>
    <script type="text/javascript" src="jquery.svg.js"></script>

    <style>

    </style>

    <script>
    </script>

</head>
<body>
    <table class="table">
        <thead style="background-color:#008080;color:white">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Title
                </th>
                <th>
                    Type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mMin in Model._mmMgr._List.OrderBy(mm => mm._dt))
            {
                <tr class="RConn">
                    <td>
                        @mMin._dt.ToLongDateString()
                       
                    </td>
                    <td>
                        @mMin._docs[0]
                    </td>
                    <td>
                        @mMin._type.ToString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
