@page
@model CStat.Pages.ResCLModel

@{
    Layout = "_LayoutEmpty";
}

<head>
    <link rel="stylesheet" href="style.css" />
</head>

<style>

    .page-header {
        position: fixed;
        left: 0mm;
        top: 0mm;
        width: 100%;
        height: 2em;
        border-bottom: 2px solid white; 
        color: white;
        background-color: #365F91;
        font-weight: bold;
        font-size: 1em;
        text-align: center;

    }

    thead td {
        color: white;
        background-color: #365F91;
        font-size: .9em;
        font-family: 'Times New Roman';
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    #clwarn {
        font-size: 1.2em;
        color: yellow;
        font-weight: bold;
    }

    #page {
        font-size: .9em;
    }

    #tableId {
        width: 100%;
        border:none;
    }

    td {
        padding-left: 6px;
        border: 1px solid black;
    }

    body {
        margin: 0;
    }

    .page-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2em;
        text-align: center;
        font-size: .9em;
    }

    .updateForm {
        background-color: #FFDC62;
        font-size: 1.5em;
        font-weight:bold;
        border-width:3px;
    }

    .printForm {
        background-color: lawngreen;
        font-size: 1.5em;
        font-weight: bold;
        border-width: 3px;
    }

    @@page {
       size: letter;
    }

    @@media print {

        button {
            display: none;
        }

        .updateForm {
            display: none;
        }
        body {
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
            margin: 0;
        }

        .page-header {
            font-size: 1.5em;
        }

        thead td {
            font-size: 1em;
        }

        #clwarn {
            font-size: 1.2em;
            color: yellow;
            font-weight: bold;
        }

        #page {
            font-size: 1.44em;
            margin-left:4%;
        }

        .page-footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2em;
            text-align: center;
            font-size: 1.1em;
            border-width: 4px;
        }
    }
</style>

<script>

    function disablePrint() {
        document.getElementById("updateFrm").disabled = false;
        document.getElementById("printBtn").disabled = true;
    }
</script>


<div class="page-header" style="position:static"></div>
<div id="page">
    <table id="tableId">
        <thead>
            <tr>
                <td style="width:13%">Date of Test Performed</td>
                <td style="width:13%">Time of Test Performed</td>
                <td style="width:17%">Free Chlorine Level in parts per million (ppm)</td>
                <td>Tester’s Name</td>
                <td style="width:42%">
                    Add Comments. Unexpected Observations?<br />
                    <div id="clwarn">Below 0.2 ppm or above 3.0 ppm?</div>
                    Contact CCA Manager or call 203-770-3393
                </td>
            </tr>
        </thead>

        @for (var i=1; i <= 31; ++i)
        {
            @Html.Raw(Model.GetDayFields(i));
        }
    </table>
</div>
<div class="page-header" style:"position:relative">
    @Model.GetMMYY() CCA Daily Testing of Free Chlorine in Potable Water for Camp Usage
    <div style="position:fixed; left:10%; top:30%; display:inline">
        @Html.Raw(Model.GenerateMMYYForm());
    </div>
    <button type="button" id="printBtn" class="printForm" onClick="window.print()" style="position:fixed; border-style:outset; border-width:5px; left:20%; top:45%; font-weight:bold; background-color: lawngreen">Print</button>
</div>
<div class="page-footer">
    CCA Form Rev B : CCA Daily Testing of Free Chlorine in Potable Water for Camp Events</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
